body {
	background-color: #ffffff;
	font-family: sans-serif;
}
a.gcmc_idx:link {
	color: #000060;
	text-decoration: none;
}
a.gcmc_idx:hover {
	color: #000060;
	text-decoration: underline;
}
a.gcmc_idx:visited {
	color: #000060;
	text-decoration: none;
}
a.gcmc_idx:active {
	color: #000060;
	text-decoration: none;
}
a.gcmc_func:link {
	color: #000060;
	text-decoration: none;
}
a.gcmc_func:visited {
	color: #000060;
	text-decoration: none;
}
a.gcmc_func:hover {
	color: #000060;
	text-decoration: underline;
}
a.gcmc_func:active {
	color: #000060;
	text-decoration: none;
}
a.gcmc_func2:link {
	color: #000060;
	text-decoration: none;
}
a.gcmc_func2:visited {
	color: #000060;
	text-decoration: none;
}
a.gcmc_func2:hover {
	color: #000060;
	text-decoration: underline;
}
a.gcmc_func2:active {
	color: #000060;
	text-decoration: none;
}
td {
	padding-left: 0.3em;
	padding-right: 0.3em;
	vertical-align: top;
}
.gcmc_funcblock {
	margin-left: 1.5em;
	margin-right: 2em;
	border: 0px;
	background-color: #f9fff9;
}
.gcmc_function {
	border: 0px;
	margin-left: 0.5em;
	margin-right: 1em;
	background-color: #f9f9f9;
}
.gcmc_func {
	font-family: monospace;
	font-size: 120%;
	font-weight: bold;
}
.gcmc_func2 {
	font-family: monospace;
	font-weight: bold;
}
.gcmc_type {
	font-family: monospace;
	font-size: 120%;
	font-style: italic;
	font-weight: normal;
	vertical-align: text-top;
}
.gcmc_unit {
	font-style: normal;
	font-weight: normal;
	vertical-align: text-top;
}
.gcmc_arg {
	font-family: monospace;
	font-size: 120%;
	text-decoration: underline;
	font-weight: normal;
	vertical-align: text-top;
}
.gcmc_args {
	background-color: #f9fff9;
	margin-left: 2em;
	margin-right: 1em;
}
.gcmc_description {
	background-color: #f9f9ff;
	margin-top: 0.5em;
	margin-left: 1em;
	margin-right: 1em;
}
.gcmc_separator {
	text-align: left;
	margin-left: 1em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	width: 10%;
}
.gcmc_mono {
	font-family: monospace;
	font-size: 120%;
}
.gcmc_mono2 {
	font-family: monospace;
}
.gcmc_tdtop {
	vertical-align: top;
	padding-right: 5px;
	padding-left: 5px;
}
.gcmc_indent {
	border: 0px;
	margin-left: 2em;
}
.gcmc_example {
	padding: 6px;
	background-color: #f2f2ff;
	margin-left: 4em;
}
.gcmc_wsextra {
	word-spacing: 0.8em;
}
.gcmc_comment {
	color: #600060;
}
